body {
    background: linear-gradient(to bottom right, azure, slategrey);
    font-family: 'VT323', monospace;
    margin:auto;
    text-align: center;
}

h1 {
    font-size: 40px;
    color: black;
}

 h2 {
    font-family: 'VT323', monospace;
}
h3{
  margin-top: 5px;
  margin-bottom: 5px;
}

p{
  padding: 10px;
  text-align: justify;
}

img {
  float: left;
  display: block;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height:100%;
  overflow: hidden;
}

a{
    color: white;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    text-align: center;
}
a:hover{
  color:black;
  background-color: white;
}

footer{
  background-color: gainsboro;
  width:100%;
  height:100px;
  float:right;
  padding-top:50px
}
canvas{
  position: absolute;
}

#starfield{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #2b1960  0%, #3582a5 100%);
}
#twinkles{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#ufos{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#clouds{
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.canvasdiv {
  position: relative;
  width:100%;
  height:600px;
}
.seperator {
  float:left;
  width: 100%;
  background-color: black;
  height: 50px;
}

.nav-buttons {

  margin:auto;
  height: 30px;
  width:400px;
  top:0px;
  background-color: black;
}

.resumebutt {
  float: right;
  background-color: black;
  height:100%;

}

.contactbutt {
  float: left;
  background-color: black;
  height: 100%;
}

.playbutt{
  top:50%;
  bottom:0;
  margin: 0 auto;
  width:100%;
  height:30%;
  float:right;
  background-color: black;


}

.container0 {
  height:640px;
  float: inherit;
}

.container1 {
  background-color: whitesmoke;
  height: 400px;
  float:left;
  overflow: hidden;
}
.container2 {
  background-color: whitesmoke;
  min-height: 200px;
  float:left;
  overflow: hidden;
  width:100%;
}

.title{
  text-align: left;
  padding-top: 5px;
  padding-left: 25px;
}
.title2{
  text-align: left;
  padding-top: 5px;
  padding-left: 25px;
}
.row1 {
    width:100%;
}
.column {
  float: left;
  overflow: hidden;
}
.column.left {
  width: 75%;
  background-color: silver;
  overflow: hidden;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

.column.right {
  width:25%;
  background-color: CADETBLUE;


}

.descrtext{
  height:195px;
  margin-left: 5px;
  text-align: left;
}
.button.large.hpbottom {
  margin:auto;
  text-align:center;
  display:block;
  padding-top:50px;
  height:50px;
}
@media screen and (max-width: 480px){
.button.large.hpbottom {
    padding-top: 5px;
  }
.column.right {
  width:100%;
}
.column.left {
  width:100%;
}
.container1 {
  height:auto;
}
.descrtext {
  height:auto
}

}

@media screen and (min-width : 480px)
and (max-width : 920px) {
  .button.large.hpbottom {
      padding-top: 5px;
    }
  .column.right {
    width:100%;
  }
  .column.left {
    width:100%;
  }
  .container1 {
    height:auto;
  }
  .descrtext {
    height:auto
  }

  }
